.header {
    padding: .5rem 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 10px;
}

.header .active{
    background-color: #060A09;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo{
    padding: .5rem 0;
}



